<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{{ title }}</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/styles.css">
</head>
<body>
  <header>
    <h1>Welcome to My Portfolio</h1>
  </header>
  <nav>
    
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/projects">Projects</a></li>
      <li><a href="/contact">Contact</a></li>
    </ul>
  </nav>
  <main>
    <section>
       <section>

    <h2>My Interest</h2>
      
    </section>
      <p>
        Welcome to my portfolio website! I'm a passionate programmer who loves to create innovative solutions and tackle complex challenges. With a background in Programming, I specialize in front-end development, and I'm dedicated to crafting clean and efficient code.
      </p><br>
      <p>
        When I'm not coding, I enjoy cooking and travelling for no reason, and I'm always on the lookout for the latest trends in technology and software development. I'm excited to share my work and projects with you.
      </p>
      <br>
      <p>
   You'll find me pursuing a variety of interests:
</p>
<br>
      <ul>
  <li>Exploring new programming languages and technologies.</li>
  <li>Contributing to open-source projects and communities.</li>
  <li>Learning about AI and machine learning.</li>
  <li>Enjoying outdoor activities such as hiking and cycling.</li>
  <li>Reading tech blogs and keeping up with industry news.</li>
  <li>Participating in hackerrank and coding competitions.</li>
  <li>Creating personal projects, from web apps to mobile games.</li>
</ul>
<br>
    </section>
   
  </main><footer>
    
    <p>&copy; {{ 2023 }} KRISH PATEL | <a href="https://github.com/KRISH8104" target="_blank">GitHub</a> | <a href="https://www.linkedin.com/in/krish-patel-003708291/" target="_blank">LinkedIn</a></p>
  </footer>
  
</body>
</html>
